.contact_us_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 15vh 0;
  }

.form_container {
    border-radius: 5px;
    background-color: #333;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    letter-spacing:0.5px;
    padding: 20px;
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    animation-name: fadeIn;
    animation-duration: 2s;
}

.accordion {
  background-color: #f9f9f9;
  margin: 1rem 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #282A29;
}

.accordion-header {
  background-color: #f1f1f1;
  padding: 10px 20px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  display: block;
}

.accordion-header:hover {
  background-color: #ddd;
}

.accordion-panel {
  padding: 0 20px;
  background-color: white;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

input[type="checkbox"] {
  display: none;
}

#accordion1:checked ~ #accordion-panel-1 {
  max-height: 10%; 
}

#accordion2:checked ~ #accordion-panel-2 {
  max-height: 10%; 
}

#accordion3:checked ~ #accordion-panel-3 {
  max-height: 10%; 
}

  @media screen and (max-width: 800px){
    .contact_us_container {
        margin: 10vh 0;
    }

    .form_container{
        width: 90%;
    }
  }
  
form {
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input,textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    display: block;
    width: 100%;
    padding: 12px 0;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border: 1.5px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ffffffd5;
	  color: #000000;
}