.health_benefit_container{
    margin: 15vh 0;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.benefit {
    width: 90%;
    background-color: #fffffff5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.benefit_body{
    margin: 20px;
}

.benefit img, .benefit video{
    width: 40%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

.benefit h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.benefit p {
    color: #666;
}

.img1{
    margin-left: 2%;
    position: relative;
    animation-name: moving;
    animation-duration: 2s;
}

.img2{
    margin-right: 2%;
    position: relative;
    animation-name: moving2;
    animation-duration: 2s;
}

@keyframes moving{
    0%{right: 100%;}
    100%{right: 0%;}
}

@keyframes moving2{
    0%{left: 100%;}
    100%{left: 0%;}
}

.benefit_body_right{
    position: relative;
    animation-name: text_moving;
    animation-duration: 2s;
}

.benefit_body_left{
    position: relative;
    animation-name: text_moving2;
    animation-duration: 2s;
}

@keyframes text_moving{
    0%{left: 100%;}
    100%{left: 0%;}
}

@keyframes text_moving2{
    0%{right: 100%;}
    100%{right: 0%;}
}

@media screen and (max-width: 800px){
    .health_benefit_container {
        margin: 10vh 0;
    }

    .benefit {
        width: 100%;
        padding: 0.5rem;
    }

    .benefit img, .benefit video{
        width: 50%;
    }
}