.products_container{
    margin: 15vh 0;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    animation-name: fadeIn;
    animation-duration: 2s;
}

.special_offers_container{
    border: 1px solid #fff;
    border-radius: 5px;
    margin-bottom: 2vh;
}

.offer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

hr{
    width: 100%;
}

.desk_container h1{
    color: #fff;
}

.offer:hover{
    .buy_btn{
        color: #333333;
        background-color: #f5f5dc;
        border-color: #f5f5dc; 
    }
}

.buy_btn{
    color: #fff;
    background-color: #007bff;
    padding: 0.6rem 1.2rem;
    width: 40%;
    border-radius: 5px;
    border-color: #007bff;
	font-size: 0.9rem;
    font-weight: 600;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.buy_btn:hover {
    color: #212529;
    background-color: #e8e8a8;
    border-color: #e8e8a8;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.buy_btn:focus,
.buy_btn.focus {
    box-shadow: 0 0 0 0.2rem rgba(231, 234, 238, 0.5);
}
