*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
	user-select: none;
}

#menu {
	background: #282A29;
	height: 10vh;
	padding-left: 18px;
	position: sticky;
  	top: 0;
	box-shadow: #282a29a1 0px 1px,#282a2991 0px 2px;
} 
#logo{
    font-family: "Pacifico", cursive;
  	font-weight: 400;
  	font-style:normal;
	font-size: large;
    color: #FFFFFF;
    padding: 20px;
}
#img_logo{
	width: 6%;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
	text-align: left;
}
#menu li {
	display: inline-block;
	position: relative;
}
#menu a {
	display: block;
	line-height: 45px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
	color: #282A29;
	background: #FFFFFF;
	opacity: 0.98;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 45px;
	width: 100%;
	opacity: 0;
	cursor: pointer;
}
#menu label {
	display: none;
	line-height: 45px;
	text-align: center;
	position: absolute;
	left: 35px;
}
#menu label:before {
	font-size: 1.6em;
	color: #FFFFFF;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #444444;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	text-align: left;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	color: #282A29;
	background: #FFFFFF;
	opacity: 0.98;
	border: 1px solid #282A29;
}

#video_container{
	width: 100%;
	height: 100vh;
}
#video-background {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1; /* Ensure it's behind other content */
}

/* Optional: Overlay text */
.content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
}
@media screen and (max-width: 1100px){
	#menu {
		position: relative;
		height: 7.5vh;
	}

	#menu ul {
		background:#444444;
		position:absolute;
		top:100%;
		right:0;
		left:0;
		z-index:3;
		height:auto;
		display:none;
		text-align:left;
	}

	#menu ul.sub-menus {
		width:100%;
		position:static;
	}

	#menu ul.sub-menus a {
		padding-left:30px;
	}

	#menu li {
		display:block;
		float:none;
		width:auto;
	}

	#menu input, #menu label {
		position:absolute;
		top:0;
		left:0;
		display:block
	}

	#menu input {
		z-index:4
	}

	#menu input:checked + label {
		color:#FFFFFF
	}

	#menu input:checked + label:before {
		content:"\00d7"
	}

	#menu input:checked ~ ul {
		display:block
	}
}

@media screen and (max-width: 800px){
	#menu{
		height: 6vh;
	}
}
